config
__pycache__/
*.log
*.env
.env
.env.dev
.DS_Store
.nova/
ssl
venv
# JetBrains IDE files
*.iml
.idea/misc.xml
.idea/modules.xml
.idea/profiles_settings.xml
.idea/vcs.xml
# Ignore PyCharm files
.idea/
*.iml

#SQLAlchemy
migrations